<nav>
<div class="nav-wrapper">

    <a href="/" class="brand-logo">Список задач</a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
    {{#if isIndex}}
        <li class="active"><a href="/">Список задач</a></li>
    {{else}}
        <li><a href="/">Список задач</a></li>
    {{/if}}
    {{#if isCreate}}
    <li class="active"><a href="/create">Новая задача</a></li>
    {{else}}
    <li><a href="/create">Новая задача</a></li>
    {{/if}}

    {{#if isInfo}}
        <li class="active"><a href="/info">Данные</a></li>
    {{else}}
    <li><a href="/info">Данные</a></li>
    {{/if}}

</ul>
</div>
</nav>