<form action="/create" method="post">

<h2>Новая задача</h2>

<div class="input-field">
    <input type="text" name="title" placeholder="Новая задача">
</div>

<button class="btn" type="submit">Создать</button>


</form>